
.hidden{
    display:none;
}
body{
    display:flex;
    flex-direction: column;
}
img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity:0.9;
}
input{
    width:200px;
}
#press{
    color:white;
    font-size:20px;
}
.quest__content{
    display: none;
}
.quest__content.active{
    display:flex;
    color:white;
    justify-content: center;
    align-items: center;

}
#contents{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contents.active{
    display:none;
}
#clock{
    color:white;
    font-size:50px;
}
#login-form{
    color:white;
}
#quote{
    font-size:20px;
    text-align: center;
    color:white;
}
#weather{
    position:absolute;
    top:0px;
    right:0px;
    font-size:30px;
    color:white;
}
li{
    list-style: none;
}

@media screen and (max-width:768px){

}